<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.johnyu.mapper.UserMapper">
    <resultMap id="userMap" type="User">
        <id column="uid" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <collection property="authorities" ofType="Role">
            <id column="rid" property="id"></id>
            <result column="role_name" property="authority"></result>
        </collection>
    </resultMap>
    <select id="findByUsername" resultMap="userMap">
        select u.id uid,u.username,u.password,ur.role_id rid,r.name role_name from users  u
        left join user_role ur on u.id = ur.user_id
        left join roles r on r.id = ur.role_id
        where username = #{username}
    </select>
</mapper>